* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(58, 103, 105);
}


.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 275px;
    height: 375px;
    background-color: #434441;
    padding: 20px;
    border-radius: 25px;
}

.pantalla {
    grid-column: 1 / 5;
    background-color: #98c91a;
    border: solid #dad5d5;
    box-shadow: 3px 3px 4px #0008 inset, 0 0 5px #0005 inset, 0 0 3px #9cea01;
    font-family: monospace;
    font-size: xx-large;
    margin-bottom: 20px;
    padding: 0 3px;
    border-radius: 4px;
}

.calculator .btn:nth-child(17) {
    grid-row: 5 / 7;
    grid-column: 4 / 5;
}

.btn {
    background-color: #585b58;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    border: none;
    box-shadow: #656865 -1px 1px, #656865 -2px 2px, #656865 -3px 3px;
    transition: 0.2s ease-in-out;
}

.btn:active {
    box-shadow: none;
    transform: translateY(4px);
    color: #9cea01;
}

.clear {
    background-color: rgb(255, 79, 79);
    box-shadow: #fb6464 -1px 1px, #fb6464 -2px 2px, #fb6464 -3px 3px;
}

.igual {
    background-color: rgb(62, 96, 199);
    box-shadow: #4770da -1px 1px, #4770da -2px 2px, #4770da -3px 3px;
}